.body_backgorund {
    background-image: url(hOye.gif);
    background-position: center;
    background-size: cover;
}

#myCanvas {
    border-width: 3px;
    border-style: solid;
    border-color: aqua;
    background-color: whitesmoke;
}